.about-container {
  /* min-height: 80vh; */
  margin: 0;
  /* width: 100%; */
  padding: 20px;
  background-color: #ffffff40;
}

.about-container h4 {
  font-size: 32px;
  text-align: center;
  margin: 15px;
}

.about-container p {
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: justify; /* Fixes the text justification */
  /* line-height: 1.6; Adds better readability */
  color: #333; /* Sets a neutral text color */
}

.about-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.about-container ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.about-container li {
  margin-bottom: 5px;
}

.about-container strong {
  font-weight: bold;
}
